.App {
  text-align: center;
}

#root {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sigCanvas {
  border: 1px solid #ebebeb;
  /* border: 2px solid red; */
  border-radius: 5px;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.container-signature{
  height: 100%;
  width: 100%;
  /* padding-top: 170px !important; */
  text-align: center;

  border-radius: 5px;
  background: url("./Image/background.jfif");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.container-signature-oceanica{
  height: 100%;
  width: 100%;
  /* padding-top: 170px !important; */
  text-align: center;

  border-radius: 5px;
  background: url("./Image/background-oceanica.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

/* button{
  background: red;
   color: white;
    border: none;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
} */



.container-sigCanvas {
  border: 2px solid #c4c7cf;
  width: 200px;
  height: 250px;
  background: white;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  margin-top: 7rem;
}

@media only screen and (max-width: 400px) {
    .container-sigCanvas {
      width: 300px;
      height: 220px;
    }

    .card {
      height: 24rem !important;
      width: 21rem !important;
    }

    .container-logo {
      visibility: hidden;
    }
}
.container-signature-limit{
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
  height: 500px;
  display: grid;
  place-content: center;
  border-radius: 1rem;
  background: white;
}

.container-card {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.container-button {
  margin-top: 2rem;
}


/* .container-logo {
  width: 70px;
  height: 70px;
  overflow: hidden;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  margin-left: 13.5rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  margin-top: -2rem;
} */
.container-logo {
  width: 70px;
  height: 70px;
  overflow: hidden;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  /* margin-left: 13.5rem; */
  border-radius: 50%;
  background: white;
  position: absolute;
  margin-top: -32rem;
}

.logo {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .sigCanvas {
    width: 90%;
    height: 145px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 769px) {
  .sigCanvas {
    width: 175px;
    height: 200px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
